
/*****************************************
 * set our base root font-size
 * and make it fluid
 */
html {
  font-size: 14px;
  line-height: 1.7;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 24px;
    line-height: 1.4;
  }
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-secondary);
  overflow-x: hidden;
}

/*
  remove the outline from focusable elements when a user can use a mouse
*/
.mouse-focus a:focus,
.mouse-focus input:focus,
.mouse-focus select:focus,
.mouse-focus button:not([disabled]):focus,
.mouse-focus iframe:focus,
.mouse-focus [tabindex]:focus {
  outline: none;
}

/* reset all ULs */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}